




body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:  100vh;
    background-color: white;
}


#calculator{
    font-family:Arial,sans-serif;
    background-color: rgb(46, 48, 48);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}


#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border:none;
    background-color: rgb(151, 29, 29);
    color: rgb(200, 160, 29);
}


#keys{
    display grid: ;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: gray;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

buttom:hover{
    background-color: blueviolet;
}

button:active{
    background-color: rgb(65, 14, 230);
}

.operator-btn{
    background-color: rgb(84, 81, 91);
}

.operator-btn:hover{
    background-color: rgb(12, 12, 12);
}
.operator-btn:active{
    background-color: rgb(240, 216, 198);
}