* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    place-content: left;
    justify-items: center;
    color: solid red;
    
}

.button {
    padding:12px 32%;
    border-radius: 10px/10px;
    background-color: transparent;
    border: 2px solid black;
    width:100px;
    letter-spacing: ;
  
}